databases:
  - name: mysql-colegio
    databaseName: colegio2
    user: colegio_user
    plan: free
    region: oregon

services:
  - type: web
    name: app-colegio
    runtime: docker
    plan: free
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: mysql-colegio
          property: host
      - key: DB_NAME
        fromDatabase:
          name: mysql-colegio
          property: database
      - key: DB_USER
        fromDatabase:
          name: mysql-colegio
          property: user
      - key: DB_PASS
        fromDatabase:
          name: mysql-colegio
          property: password
